---
layout: layouts/base.njk
section: page
---
<div class="flex justify-end mr-4 mb-4">
    <div class="inline-block w-auto text-xs bg-gray-200 pt-1 pr-3 pb-1 pl-3 rounded ">Updated: <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time></div>
        {% if metadata.edit_button == true %}
            <div class="inline-block w-auto text-xs bg-gray-200 hover:bg-gray-300  ml-2 pt-1 pr-3 pb-1 pl-3 rounded "><a href="https://github.com/broeker/cosmos/edit/main/{{ page.inputPath }}">Edit</a></div>
        {% endif %}
    </div>
    <div class="mt-4 prose prose-sm sm:prose lg:prose-lg xl:prose-xl  pl-4 pr-4">
    <h1>{{ title }}</h1>
    <div class="adjust">
    {{ layoutContent | safe }}
    </div>
</div>
{% if commentsClosed != true %}
  {% include "comment-form.njk" %}
  {% else %}
    <div class="footnote">
      <p>
        comments on this page are now closed. Perhaps express your opinions about this <a href="https://twitter.com/intent/tweet?text=I%20need%20to%20tell%20the%20world%20about%20this!&url={{ init.rootURL }}{{ page.url }}">on twitter</a> instead?
      </p>
    </div>
  {% endif %}
  <div class="comments">
  {% include "comments.njk" -%}
  </div>